* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
html body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #ffefe7;
  color: #7c6a0a;
  min-width: 320px;
}
html h2 {
  font-size: 2.5rem;
  font-weight: 400;
}
html h1 {
  font-weight: 700;
  font-size: 3rem;
}
html p {
  font-size: 1.5rem;
}
html .primary-button {
  background-color: #e86424;
  color: white;
  border-radius: 20px;
  font-size: 1.5rem;
  text-decoration: none;
  display: inline-block;
  padding: 12px 20px;
}
html ::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
html ::-webkit-scrollbar-thumb {
  background-color: rgba(186, 189, 141, 0.5);
  border-radius: 5px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 8%;
}
header a {
  text-decoration: none;
  color: #7c6a0a;
}
header nav .nav--mob {
  display: flex;
}
header nav .nav--desk {
  display: none;
}
header button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}
header button svg {
  width: 32px;
  height: 32px;
}
header button path {
  stroke: #7c6a0a;
}

main .main_bio {
  padding: 0 8%;
  text-align: center;
}
main .main_bio figure {
  height: 300px;
  max-width: 400px;
  border-radius: 40px;
  overflow: hidden;
}
main .main_bio figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .main_bio-text {
  text-align: left;
}
main .main_bio-text h1 {
  margin: 16px 0;
}
main .main_bio-text p {
  margin: 16px 0;
}
main .main_grisaria {
  box-sizing: content-box;
  padding: 0 8% 40px 8%;
}
main .main_grisaria h2 {
  box-sizing: content-box;
  padding: 40px 0;
}
main .main_grisaria-carret {
  display: flex;
  gap: 20px;
  overflow: auto;
}
main .main_grisaria-carret article figure {
  width: 200px;
  height: 140px;
  display: flex;
  align-items: center;
}
main .main_grisaria-carret article figure img {
  width: 100%;
}
main .main_kidoutai {
  box-sizing: content-box;
  padding: 0 8% 40px 8%;
  background-color: #7c6a0a;
  color: white;
}
main .main_kidoutai h2 {
  box-sizing: content-box;
  padding: 40px 0;
}
main .main_kidoutai-carret {
  display: flex;
  gap: 20px;
  overflow: auto;
}
main .main_kidoutai-carret article figure {
  width: 200px;
  height: 140px;
  display: flex;
  align-items: center;
}
main .main_kidoutai-carret article figure img {
  width: 100%;
}

header nav .nav--mob {
  display: none;
}
header nav .nav--desk {
  display: flex;
  gap: 28px;
}

main {
  max-width: 900px;
  margin: auto;
}
main .main_bio {
  display: flex;
  flex-direction: row-reverse;
  gap: 12px;
  text-align: left;
  align-items: center;
}
main .main_bio figure {
  height: auto;
}
main .main_kidoutai-carret article figure,
main .main_grisaria-carret article figure {
  width: 300px;
  height: 220px;
}
main .main_kidoutai-carret article h3,
main .main_grisaria-carret article h3 {
  font-size: 1.5rem;
}
main .main_kidoutai-carret article p,
main .main_grisaria-carret article p {
  font-size: 2rem;
}/*# sourceMappingURL=tablet.css.map */