$primary-color: #ffefe7;
$secundary-color: #ffdac6;
$third-color: #babd8d;
$text-color: #7c6a0a;
$hard-orange: #e86424;
$mid-orange: #fa9500;
$font-stack: "IBM Plex Sans", sans-serif;
$sm: 1.5rem;
$md: 2.5rem;
$lg: 3rem;
$xlg: 6rem;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    body {
        font-family: $font-stack;
        background-color: $primary-color;
        color: $text-color;
        min-width: 320px;
    }

    h2 {
        font-size: $md;
        font-weight: 400;
    }

    h1 {
        font-weight: 700;
        font-size: $lg;
    }

    p {
        font-size: $sm;
    }

    .primary-button {
        background-color: $hard-orange;
        color: white;
        border-radius: 20px;
        font-size: $sm;
        text-decoration: none;
        display: inline-block;
        padding: 12px 20px;
    }

    ::-webkit-scrollbar {
        height: 6px;
        width: 6px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(186, 189, 141, 0.5);
        border-radius: 5px;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 8%;

    a {
        text-decoration: none;
        color: $text-color;
    }

    nav {
        .nav--mob {
            display: flex;
        }

        .nav--desk {
            display: none;
        }
    }

    button {
        background: none;
        border: none;
        cursor: pointer;
        outline: none;

        svg {
            width: 32px;
            height: 32px;
        }

        path {
            stroke: $text-color;
        }
    }
}

main {
    .main_bio {
        padding: 0 8%;
        text-align: center;

        figure {
            height: 300px;
            max-width: 400px;
            border-radius: 40px;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        &-text {
            text-align: left;

            h1 {
                margin: 16px 0;
            }

            p {
                margin: 16px 0;
            }
        }
    }

    @mixin collection($bck, $text) {
        box-sizing: content-box;
        padding: 0 8% 40px 8%;
        background-color: $bck;
        color: $text;

        h2 {
            box-sizing: content-box;
            padding: 40px 0;
        }

        &-carret {
            display: flex;
            gap: 20px;
            overflow: auto;

            article {
                figure {
                    width: 200px;
                    height: 140px;
                    display: flex;
                    align-items: center;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .main_grisaria {
        @include collection($primary-color, $text-color);
    }

    .main_kidoutai {
        @include collection($text-color, $primary-color);
    }
}