$primary-color: #ffefe7;
$secundary-color: #ffdac6;
$third-color: #babd8d;
$text-color: #7c6a0a;
$hard-orange: #e86424;
$mid-orange: #fa9500;
$font-stack: "IBM Plex Sans", sans-serif;
$sm: 1.5rem;
$md: 2.5rem;
$lg: 3rem;
$xlg: 6rem;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    body {
        font-family: $font-stack;
        background-color: $primary-color;
        color: $text-color;
        min-width: 320px;
        padding: 0 8%;
    }

    h1 {
        font-size: $md;
        font-weight: 400;
    }

    p {
        font-size: $sm;
    }

    .primary-button {
        background-color: $hard-orange;
        color: white;
        box-sizing: content-box;
        padding: 12px 40px;
        border-radius: 20px;
        font-size: $sm;
        text-decoration: none;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;

    a {
        text-decoration: none;
        color: $text-color;
    }

    nav {
        .nav--mob {
            display: flex;
        }

        .nav--desk {
            display: none;
        }
    }

    button {
        background: none;
        border: none;
        cursor: pointer;
        outline: none;

        svg {
            width: 32px;
            height: 32px;
        }

        path {
            stroke: $text-color;
        }
    }
}

main {
    article {
        text-align: center;

        figure {
            height: 400px;
            border-radius: 40px;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .article_text {
            text-align: left;

            h1 {
                font-weight: 700;
                font-size: $lg;
                margin: 16px 0;
            }

            p {
                margin-bottom: 28px;
            }
        }
    }
}